    h1 {
        text-align:center;
        font-size:0.75em;
        font-style: italic;
        width:800px;
    }
    div#example_explain {
        margin:0px 0px 10px 0px;
        border: thin solid #595E61;
        width:800px;
        text-align:justify;
        font-size: 0.75em;
        font-style: italic;
        color: #595E61;
    }
    
    div#viewerDiv {
        width:800px;
        height:600px;
        background-color:white;
        background-image:url(img/loading.gif);
        background-position:center center;
        background-repeat:no-repeat;
    }
    div#footer {
        font-size:x-small;
        text-align:center;
        width:800px;
    }
    div#footer a, div#footer a:link, div#footer a:visited, div#footer a:hover {
        text-decoration:none;
        color:black;
    }
    .gpControlPermanentLogo {
        left:45%;
    }
    .gpControlTermsOfService {
        left:45%;
    }
    div#code a, div#code a:link, div#code a:visited, div#code a:hover {
        text-decoration:none;
        color: #595E61;
    }
    div#code {
        margin:0px 0px 10px 0px;
        width:800px;
        position:relative;
        left:0px;
        top:0px;
        text-align:justify;
        font-size: 0.75em;
        font-style: italic;
    }
